<div class="products">
  <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div> <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div> <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div> <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div> <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div> <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div> <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div> <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div>
  <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt="product"
      />
      <button>Add to cart</button>
    </mat-card>
  </div>
</div>
