<div class="products">
  <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>400</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt=""
      />
      <button>Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <p>DELL Vostro Core i3 10th Gen - (8 GB/256 GB SSD/Windows 10 Home) Vostro 3401 Thin and Light Laptop</p>
      <p>$<Strong>480</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/312/312/ktaeqvk0/computer/b/7/4/15s-gy0501au-thin-and-light-laptop-hp-original-imag6z6muntqnzzc.jpeg?q=70"
        alt=""
      />
      <button>Add to cart</button>
    </mat-card>
  </div>
  <div class="product">
    <mat-card>
      <p>HP Ryzen 5 Hexa Core 5500U - (8 GB/512 GB SSD/Windows 11 Home) 14s-fq1092au Thin and Light Laptop</p>
      <p>$<Strong>550</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/312/312/l2rwzgw0/computer/m/k/o/-original-imagefmhxu9rmfjq.jpeg?q=70"
        alt=""
      />
      <button>Add to cart</button>
    </mat-card>
  </div>
   <div class="product">
    <mat-card>
      <p>Lenovo IdeaPad 3 Core i3 11th Gen</p>
      <p>$<Strong>600</Strong></p>
      <img
        class="product_image"
src="https://rukminim1.flixcart.com/image/312/312/kh9gbrk0/computer/e/6/d/asus-na-thin-and-light-laptop-original-imafxbj7gbsraqzk.jpeg?q=70"
        alt=""
      />
      <button>Add to cart</button>
    </mat-card>
  </div>
  <div class="product">
    <mat-card>
      <p>ASUS VivoBook Ultra 14 (2022) Core i3 11th Gen - (8 GB/512 GB SSD/Windows 11 Home) X413EA-EB321WS Thin...</p>
      <p>$<Strong>590</Strong></p>
      <img
        class="product_image"
        src="https://rukminim1.flixcart.com/image/416/416/keaaavk0/computer/x/m/y/lenovo-na-laptop-original-imafuzt8r5jqppfn.jpeg?q=70"
        alt=""
      />
      <button>Add to cart</button>
    </mat-card>
  </div>
</div>
