.product_image > mat-card > img {
    object-fit: contain;
    height:200px;

}
.products{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.product > mat-card > button {
margin-top: 20px;
background-color: cornflowerblue;
border: 2px solid;
border-color: cornflowerblue;
border-radius: 5px;
}